<main style="padding: 30px">
  <header [ngStyle.lt-sm]="{'text-align': 'center'}">
    SpacEx Launch Programs
  </header>
  <main fxLayout="row" style="margin-top: 30px;" fxLayoutGap="30px" fxLayout.lt-sm="column"
    [ngStyle.lt-sm]="{'align-items':'center'}">
    <section id="side">
      <div class="filthead">Filters</div>
      <div class="ly">Launch Year</div>
      <div class="lywrap" fxLayout="row wrap">
        <div class="sidesec" *ngFor="let items of year" (click) = "filter(items,null,null); yrTogFn(items); checkRes()" [ngClass]="yrtoggle === items ? 'active' : 'inactive'">{{items}}</div>
      </div>
      <div class="slnch">
        Successful Launch</div>
      <div class="slnchwrap" fxLayout="row wrap">
        <div class="sidesec" (click) = "filter(null,true,null); launchTogFn('true'); checkRes()" [ngClass]="launchtoggle === 'true' ? 'active' : 'inactive'">True</div>
        <div class="sidesec" (click) = "filter(null,false,null); launchTogFn('false'); checkRes()" [ngClass]="launchtoggle === 'false' ? 'active' : 'inactive'">False</div>
      </div>
      <div class="slnch">
        Successful Landing</div>
      <div class="slnchwrap" fxLayout="row wrap">
        <div class="sidesec" (click) = "filter(null,null,true); landTogFn('true'); ; checkRes()" [ngClass]="landtoggle === 'true' ? 'active' : 'inactive'">True</div>
        <div class="sidesec" (click) = "filter(null,null,false); landTogFn('false'); checkRes()" [ngClass]="landtoggle === 'false' ? 'active' : 'inactive'">False</div>
      </div>
    </section>
    <section id="content">
      <div class="gridwrap">
        <div *ngIf="firstdata != null" fxLayout="row wrap" fxLayoutAlign="center center" fxLayoutGap="10px grid">
          <div *ngFor="let data of firstdata">
            <div class="card">
              <div class="imgwrap">
                <div class="imgholder" [ngStyle]="{'background-image': 'url('+data['links']['mission_patch_small']+')'}"></div>
              </div>
              <div class="rockName">
                {{data['mission_name']}}&nbsp;#{{data['flight_number']}}
              </div>
              <div class="subhead">
                <span>Mission Ids:</span>
                <ul style="margin: 0; font-weight: 400; font-size: 13px; align-items: center; color:#195184 " *ngIf="data['mission_id'].length > 0">
                  <li style="padding-top: 10px; word-break: break-all;">{{data['mission_id']}}</li>
                </ul>
                <div style="margin: 0; font-weight: 400; font-size: 13px; text-align: center;padding-top: 10px; color:#195184" *ngIf="data['mission_id'].length == 0">
                NA</div>
              </div>
              <div class="subhead">
                Launch Year:&nbsp; <span style="font-weight: 400; color:#195184"> {{data['launch_year']}}</span>
              </div>
              <div class="subhead">
                Successful Lauch:&nbsp; <span style="font-weight: 400; color:#195184"> {{data['launch_success']}}</span>
              </div>
              <div class="subhead">
                Successful Landing:&nbsp; <span style="font-weight: 400; color:#195184"> {{data['launch_landing'] ? data['launch_landing'] :"NA" }}</span>
              </div>
            </div>
          </div>
        </div>
      </div>

    </section>
  </main>
  <footer style="padding-top: 30px;">
    <div class="" style="font-size: 20px;padding: 20px; display: flex; justify-content: center;"><span
        style="font-weight: 500;">Developed By:</span> &nbsp;Manish</div>
  </footer>
</main>
