#side {
  background-color: white;
  height: 100%;
  width: 200px;
  border: 1px solid white;
  border-radius: 9px;
  @media (max-width: 700px) {
    margin-right: 0;
  }

  @media (min-width: 700px) {
    margin-right: 30px;
  }
}

.filthead {
  font-size: 16px;
  font-weight: 600;
  padding: 8px 8px 0px 8px;
}

.ly {
  font-size: 13px;
  font-weight: 400;
  padding: 6px;
  border-bottom: 2px solid #b4b4b4;
  margin: 0px 30px;
  text-align: center;
}

.lywrap {
  width: 100%;
  justify-content: space-between;
  padding: 5px 20px;
}

.slnch {
  font-size: 13px;
  font-weight: 400;
  padding: 6px;
  border-bottom: 2px solid #b4b4b4;
  margin: 0px 30px;
  text-align: center;
}

.slnchwrap {
  width: 100%;
  justify-content: space-between;
  padding: 5px 20px;
}


#content {
  width: calc(100% - 240px);
  display: flex;
  justify-content: center;
}

.gridwrap {
  @media (min-width: 1024px) {
    max-width: 720px;
  }
  @media (max-width: 1024px) and (min-width: 700px) {
    max-width: 500px;
  }
  @media (max-width: 700px) {
    padding-top: 30px;
    max-width: 200px;
  }
}

.main {
  @media (max-width: 700px) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  @media (min-width: 700px) {
    display: flex;
    flex-direction: row;
    justify-centent: space-between;
  }
}

.imgwrap {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height:170px;
}

.rockName {
  padding: 0px 18px;
  font-size: 16px;
  font-weight: 500;
  color: #195184
}

.subhead {
  padding: 8px 18px 0px 18px;
  font-size: 14px;
  font-weight: 600
}

header {
  font-weight: 500;
  font-size: 24px;
  line-height: 1;
  @media (max-width: 700px) {
    text-align: center;
  }

  @media (min-width: 700px) {
    text-align: start;
  }
}

.sidesec {
  width: 58px;
    height: 20px;
    background-color: #a4cc4870;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #a4cc4870;
    border-radius: 11px;
    font-size: 13px;
    margin: 7px;
}

.sidesec:hover {
  background-color: #57bb0588;
}

.card  {
  height: 430px;
        width: 170px;
    background-color: white;
    border: 1px solid white;
    border-radius: 9px;
}

.imgholder {
  width: 130px;
    background-repeat: no-repeat;
    height: 130px;
    background-color: #d8d8d8;
    background-size: contain;
}

.active {
  background-color: #57bb05e0;
}

.inactive {
  background-color: #a4cc4870;
}
