<main style="padding: 30px">
  <header [ngStyle.lt-sm]="{'text-align': 'center'}">
    SpacEx Launch Programs
  </header>
  <main fxLayout="row" style="margin-top: 35px;" fxLayoutGap="38px" fxLayout.lt-sm="column"
    [ngStyle.lt-sm]="{'align-items':'center'}">
    <section id="side" style="border: 1px solid white; border-radius: 9px;">
      <div class="" style="font-size: 18px; font-weight: 600; padding: 8px 8px 0px 8px;">Filters</div>
      <div class=""
        style="font-size: 17px; font-weight: 400; padding: 6px; border-bottom: 2px solid #b4b4b4; margin: 0px 40px; ; text-align: center;">
        Launch Year</div>
      <div class="" fxLayout="row wrap" style="width: 100%; justify-content: space-between; padding: 20px;">
        <div class="sidesec" *ngFor="let items of year" (click) = "filter(items,null,null); yrTogFn(items)" [ngClass]="yrtoggle === items ? 'active' : 'inactive'">{{items}}</div>
      </div>
      <div class=""
        style="font-size: 17px; font-weight: 400; padding: 6px; border-bottom: 2px solid #b4b4b4; margin: 0px 40px; ; text-align: center;">
        Successful Launch</div>
      <div class="" fxLayout="row wrap" style="width: 100%; justify-content: space-between; padding: 20px;">
        <div class="sidesec" (click) = "filter(null,true,null)">True</div>
        <div class="sidesec" (click) = "filter(null,false,null)">False</div>
      </div>
      <div class=""
        style="font-size: 17px; font-weight: 400; padding: 6px; border-bottom: 2px solid #b4b4b4; margin: 0px 40px; ; text-align: center;">
        Successful Landing</div>
      <div class="" fxLayout="row wrap" style="width: 100%; justify-content: space-between; padding: 20px;">
        <div class="sidesec" (click) = "filter(null,null,true)">True</div>
        <div class="sidesec" (click) = "filter(null,null,false)">False</div>
      </div>
    </section>
    <section id="content" style="width: calc(100% - 360px);">
      <div class="" *ngIf="firstdata != null" fxLayout="row wrap" fxLayoutAlign="center center" fxLayoutGap="50px grid">
        <div *ngFor="let data of firstdata">
          <div class="card">
            <div class="" style="display: flex; justify-content: center; align-items: center; width: 100%; height:310px;">
              <div class="imgholder" [ngStyle]="{'background-image': 'url('+data['links']['mission_patch_small']+')'}"></div>
            </div>
            <div class="" style="padding: 0px 37px;font-size: 18px; font-weight: 500; color: #195184 ">
              {{data['mission_name']}}&nbsp;#{{data['flight_number']}}
            </div>
            <div class="" style="padding: 8px 37px 0px 37px;font-size: 16px; font-weight: 600 ">
              <span>Mission Ids:</span>
              <ul style="margin: 0; font-weight: 400; font-size: 15px; align-items: center; color:#195184 " *ngIf="data['mission_id'].length > 0">
                <li style="padding-top: 10px;">﹛ &nbsp; {{data['mission_id']}} &nbsp; ﹜</li>
              </ul>
              <div style="margin: 0; font-weight: 400; font-size: 15px; text-align: center;padding-top: 10px; color:#195184" *ngIf="data['mission_id'].length == 0">
               NA</div>
            </div>
            <div class="" style="padding: 8px 37px 0px 37px;font-size: 16px; font-weight: 600 ">
              Launch Year:&nbsp; <span style="font-weight: 400; color:#195184"> {{data['launch_year']}}</span>
            </div>
            <div class="" style="padding: 8px 37px 0px 37px;font-size: 16px; font-weight: 600 ">
              Successful Lauch:&nbsp; <span style="font-weight: 400; color:#195184"> {{data['launch_success']}}</span>
            </div>
            <div class="" style="padding: 8px 37px 0px 37px;font-size: 16px; font-weight: 600 ">
              Successful Landing:&nbsp; <span style="font-weight: 400; color:#195184"> {{data['launch_landing'] ? data['launch_landing'] :"NA" }}</span>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
  <footer style="padding-top: 30px;">
    <div class="" style="font-size: 20px;padding: 20px; display: flex; justify-content: center;"><span
        style="font-weight: 500;">Developed By:</span> &nbsp;Manish</div>
  </footer>
</main>
