#side {
  background-color: white;
  height: 100%;
  width: 300px;
}

header {
  font-weight: 500;
  font-size: 35px;
  line-height: 1;
}

.sidesec {
  width: 95px;
    height: 35px;
    background-color: #a4cc4870;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #a4cc4870;
    border-radius: 11px;
    font-size: 15px;
    margin: 10px;
}

.sidesec:hover {
  background-color: #57bb05e0;
}

.card  {
  height: 540px;
        width: 331px;
    background-color: white;
    border: 1px solid white;
    border-radius: 9px;
}

.imgholder {
  width: 256px;
    background-repeat: no-repeat;
    height: 256px;
    background-color: #d8d8d8;
}

.active {
  background-color: #57bb05e0;
}

.inactive {
  background-color: #a4cc4870;
}
